/*==================================================
=                  Sticky Header                   =
==================================================*/

/*==========  Body Padding  ==========*/

body { padding-top: 100px; }
.header.sticky-header .logo img { margin-top: 6px; }

@media (max-width: 991px) {
    .wide .header,
    .boxed .header > .container { height: 44px; }
    body { padding-top: 44px; }

    .header .logo { position: relative; top: 8px; }
    .header.sticky-header .logo img { margin-top: 2px; }
	.header #mobile-menu { position: absolute; top: 8px;}
}

/*==========  Navigation   ==========*/

.sf-menu li > a { font-size: 14px; }

/*-----  End of Sticky Header Body Padding  ------*/



/*===================================
=            #Top Slider            =
===================================*/


.wide .page-section.slider > .container { margin-bottom: 0; }
#top-slider { padding-bottom: 0px; padding-top: 0px; }

@media (max-width: 991px) {
	#top-slider { padding-top: 70px; }
}

/*==========  .slide-image  ==========*/

video#bgvid { width:100%; }




@media (max-width: 991px) {
	.main-slider .slide1 .slide-image { overflow: hidden; }
	video#bgvid { height:100%; width:auto;}
}

/*==========  .slide-caption  ==========*/



.countdown-section { border: none; border-radius: 10%; }
.countdown-amount,
.countdown-period { font-size: 1.7em; }

.slide-caption-inner { margin-top: 15%; }

@media (max-width: 991px) {
	.countdown-period { font-size: 9px; }
}

/*-----  End of #Top Slider  ------*/



/*==============================
=            #About            =
==============================*/
@media (max-width: 991px) {
	#about { padding-top: 0px; }
}

/*-----  End of #About  ------*/





/*================================
=            Schedule            =
================================*/

#schedule .slide-title { color: #374146; }

/*-----  End of Schedule  ------*/



/*================================
=            Speakers            =
================================*/

.section-title small { text-transform: none; }

#speakers-title { margin-bottom: 30px;}

#speakers .thumbnail { height: 200px; }
#speakers .thumbnail img { 
	width: 50%; 
	position: absolute;
	top: 20%;
	left: 25%;
}

.do-up:hover .caption { background: rgba(30, 144, 255, 0.90); }

@media (max-width: 991px) {
	.speaker { display: inline-block; }
	#speakers .thumbnail { height: 150px; }
	#speakers .thumbnail img {
		width: 75%;
		position: relative;
		left: 0%;
	}
	.do-up .caption-category a { font-size: 9px; word-wrap: break-word;}
	.thumbnail .caption { padding: 9px 0px; }
}
/*-----  End of Speakers  ------*/



/*====================================
=            Testimonials            =
====================================*/
#testimonials-section { overflow: hidden; }
.testimonial { text-align: left; }

/*-----  End of Testimonials  ------*/



/*================================
=            Sponsors            =
================================*/

#partners .owl-item { 
	margin: 3px;
	padding: 4%;
}

#partners .owl-item img {
	display: block;
	width: 100%;
	height: auto;
}

@media (max-width: 991px) {
	#sponsors .slide-btn { max-width: 100%; }
}
/*-----  End of Sponsors  ------*/
