/*==================================================
=                  Sticky Header                   =
==================================================*/

/*==========  Body Padding  ==========*/

body { padding-top: 100px; }

.header.sticky-header .logo img { margin-top: 6px; }

@media (max-width: 991px) {
    .wide .header,
    .boxed .header > .container { height: 44px; }
    body { padding-top: 44px; }

    .header .logo { position: relative; top: 8px; }
    .header.sticky-header .logo img { margin-top: 2px; }
	.header #mobile-menu { position: absolute; top: 8px;}
}

/*==========  Navigation   ==========*/

.sf-menu li > a { font-size: 14px; }

/*-----  End of Sticky Header Body Padding  ------*/



/*===================================
=            #Top Slider            =
===================================*/

.wide .page-section.slider > .container { margin-bottom: 0; }
#top-slider { padding-bottom: 0px; padding-top: 0px; overflow: hidden;}

/*==========  .slide-image  ==========*/

.slide-image {position: absolute; width: 100%; z-index: -1;}

/*==========  .slide-caption  ==========*/

.slide-caption{text-align: center;}

.slide-caption-inner {
	position: relative;
	top: 50%;
	transform: translateY(-60%);
	-webkit-transform: translateY(-60%);
	-ms-transform: translateY(-60%);
}

.countdown-section { border: none; }
.countdown-amount,
.countdown-period { font-size: 1.7em; }


@media (max-width: 1024px) {
	.slide-caption-inner { margin-top: 5%; }
}

@media (max-width: 991px) {
	.countdown-period { font-size: 9px; }
	.slide-caption-inner { margin-bottom: 10%; }
	.slide-btn {padding: 10px 20px;}
}

@media (max-width: 768px) {
	.slide-caption-inner { margin-top: 5%!important; }
}

@media (max-width: 479px) {
	.slide-title { font-size: 24px; }
}

.countdown-show3 .countdown-section {
    width: 30%;
}

.countdown-show3 .countdown-section + .countdown-section {
    margin-left: 4%;
}


/*==========  .seen-in  ==========*/

.seen-in { 
	background: rgba(164, 172, 181, 0.6); /* A4ACB5 */
	position: absolute;
	bottom: 0;
	width:100%;
	z-index: 1;
}

.seen-in{
	background-image: url("../img/patterns/cross_scratches_grey.png");
	opacity: 0.8;
	border-top: 4px solid gray;
}

.seen-in-header {
	text-align: center;
	color: #ffffff;
	margin-top: 6%;
}

.seen-in img.mar-t{margin-top: 8%;}

.seen-in-inner img { 
	padding: 10px 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 75%;
}

@media (max-width: 991px) { 
	.seen-in-inner img {
		max-width: 100%;
		max-height: 48px;
	}
}

@media (max-width: 768px){
	.seen-in-header-wrapper {display:none;}
	.seen-in img.mar-t{margin-top: 0%;}
}


/*-----  End of #Top Slider  ------*/



/*==============================
=            #About            =
==============================*/

.media .media-body p { text-align: left; }

@media (max-width: 991px) {
	#about { padding-top: 0px; }
}

/*-----  End of #About  ------*/





/*================================
=            Schedule            =
================================*/

#schedule .slide-title { color: #374146; }
.timeline-tabs .nav-pills > li a { background: #f6f7f8; }

/*-----  End of Schedule  ------*/



/*================================
=            Speakers            =
================================*/

#about-participants { margin-bottom: 5%; }

.section-title small { text-transform: none; }

#speakers-title { margin-bottom: 30px;}

#speakers .thumbnail { height: 300px; }
#speakers .thumbnail img { 
	height: auto;
	width: auto;
	max-width: 160px;
	position: relative;
	top: 10%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.do-up:hover .caption { background: rgba(30, 144, 255, 0.90); }
.do-up:hover .caption-text { color: #e0ffff; }
.do-up .caption-text { color: #3498db; }

@media (max-width: 991px) {
	.section-title { margin-bottom: 30px; }
	#about-participants { margin-bottom: 15% }
	.speaker { display: inline-block; }
	#speakers .thumbnail { height: 175px; }
	#speakers .thumbnail img {
		width: 75%;
		top: 0%;
	}
	.do-up .caption-category a { font-size: 12px; word-wrap: break-word;}
	.do-up .caption-text { font-size: 12px; }
	.thumbnail .caption { padding: 9px 0px; }
}
/*-----  End of Speakers  ------*/



/*====================================
=            Testimonials            =
====================================*/
#testimonials-section { overflow: hidden; }
.testimonial { text-align: left; }

/*-----  End of Testimonials  ------*/



/*================================
=            Sponsors            =
================================*/

#partners .owl-item { 
	margin: 3px;
	padding: 4%;
}

#partners .owl-item img {
	display: block;
	width: 100%;
	height: auto;
}

@media (max-width: 991px) {
	#sponsors .slide-btn { max-width: 100%; }
	#organizers .owl-item img { max-width:100%; }
}
/*-----  End of Sponsors  ------*/


/*==============================
=            Tweets            =
==============================*/

.last-tweet .media p { text-align: center; }

/*-----  End of Tweets  ------*/



/*=============================
=            Price            =
=============================*/
.price-number {
	display: inline-block;
	font-size: 44px;
	line-height: 28px;
	font-weight: 600;
}
/*-----  End of Price  ------*/

