<br>
<br>


			<div class="row mt centered">
				<a id="target_schedule"> </a>

				<h1>Agenda</h1>
				<small>It is currently <span style="color:red;">{{currentTime}}</span> in Miami, FL</small><br>
				<small><span style="color:red;">{{timeLeft}}</span> until we start!</small>
			</div>
			<header class="clearfix">
				<h3>Day 1</h3>
			</header>	
			<div class="main">

				<ul class="cbp_tmtimeline" >
					<li>
						<time class="cbp_tmtime" datetime="2014-04-24T08:00"><span>4/24/14</span> <span>08:00</span></time>
						<div class="cbp_tmicon "></div>
						<div class="cbp_tmlabel">
							<h2>Registration and Breakfast</h2>
							
							<p>Location : Check-In, White Room</p>
							<p>Please enter via the Light Box entrance and grab a button at the check-in counter. You will find breakfast in the 'white room' at the light box.</p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2014-04-24T09:00"><span>4/24/14</span> <span>09:00</span></time>
						<div class="cbp_tmicon "></div>
						<div class="cbp_tmlabel">
							<h2>Welcome</h2>
							<p>Location : Black Room</p>
							<p>Mayor Carlos A. Gimenez (<a href="http://www.miamidade.gov/" target="_blank">Miami-Dade County</a>) and Shaun Abrahamson (<a href="http://urban.us/" target="_blank">Urban.Us</a>) will present welcoming remarks.</p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2014-04-24T09:30"><span>4/24/14</span> <span>09:30</span></time>
						<div class="cbp_tmicon "></div>
						<div class="cbp_tmlabel" >
							<h2>Challenge 1 : Funding</h2>
							<p>Location : Black Room</p>
							<p>Doug Chertok (<a href="http://www.vastvc.com" target="_blank">www.vastvc.com</a>), Clara Brenner (<a href="http://www.tumml.org" target="_blank">www.tumml.org</a>), Sean Connolly (<a href="http://www.tumml.org" target="_blank">www.neighbor.ly</a>), Dharmishta Rood (<a href="http://www.codeforamerica.org" target="_blank">www.codeforamerica.org</a>) and Lily Liu (<a href="http://www.publicstuff.com" target="_blank">www.publicstuff.com</a>) will discuss traditional and emerging funding options for smart city startups as well as the opportunities and challenges of each.</p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2014-04-24T10:00"><span>4/24/14</span> <span>10:00</span></time>
						<div class="cbp_tmicon "></div>
						<div class="cbp_tmlabel">
							<h2>Break out session</h2>
							<p>Location : Black Room</p>

							<p>Participants will be broken out into teams to discuss successful cases and explore possible new models.</p>
						</div>
					</li>					
					<li>
						<time class="cbp_tmtime" datetime="2014-04-24T11:30"><span>4/24/14</span> <span>11:30</span></time>
						<div class="cbp_tmicon "></div>
						<div class="cbp_tmlabel">
							<h2>Group presentations</h2>
							<p>Location : Black Room</p>

							<p>Each team will then share their learnings with the group</p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2014-04-24T12:30"><span>4/24/14</span> <span>12:30</span></time>
						<div class="cbp_tmicon "></div>
						<div class="cbp_tmlabel">
							<h2>Lunch</h2>
							<p>Location : White Room</p>

							<p></p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2014-04-24T14:30"><span>4/24/14</span> <span>14:30</span></time>
						<div class="cbp_tmicon "></div>
						<div class="cbp_tmlabel">
							<h2>Challenge 2 : Partnerships</h2>
							<p>Location : Black Room</p>

							<p>Dr Anthony M Townsend (<a ref="http://www.nyu.edu" target="_blank">www.nyu.edu</a>), Nigel Jacob (<a href="http://www.newurbanmechanics.org" target="_blank">www.newurbanmechanics.org</a>), Seema Shah (<a href="http://www.nycbigapps.com" target="_blank">www.nycbigapps.com</a>), Micah Kotch (<a href="http://www.nycacre.com" target="_blank">www.nycacre.com</a>) and Josh Gelfman (<a href="http://www.miamidade.gov/economy" target="_blank">www.miamidade.gov/economy</a>) will discuss creative ways in which startups and cities are collaborating, even when the city is not the end customer.</p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2014-04-24T15:00"><span>4/24/14</span> <span>15:00</span></time>
						<div class="cbp_tmicon "></div>
						<div class="cbp_tmlabel">
							<h2>Break out session</h2>
							<p>Location : Black Room</p>

							<p>Participants will be broken out into new teams to discuss cases and explore possible new models.</p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2014-04-24T16:30"><span>4/24/14</span> <span>16:30</span></time>
						<div class="cbp_tmicon "></div>
						<div class="cbp_tmlabel">
							<h2>Group presentations</h2>
							<p>Location : Black Room</p>

							<p>Each team will share their learnings with the group.</p>
						</div>
					</li>											
					<li>
						<time class="cbp_tmtime" datetime="2014-04-24T18:00"><span>4/24/14</span> <span>19:30</span></time>
						<div class="cbp_tmicon "></div>
						<div class="cbp_tmlabel">
							<h2>Drinks + Demos</h2>
							<p>Location : Lot</p>

							<p>Visiting city leaders will be invited to meet with participants and see startup demos. </p>
						</div>
					</li>						
				</ul>
			</div>
			<br><br>
			<hr>
			<header class="clearfix">
				<h3>Day 2</h3>
			</header>	
			<div class="main">
				<ul class="cbp_tmtimeline">
					<li>
						<time class="cbp_tmtime" datetime="2014-04-25T10:00"><span>4/25/14</span> <span>10:00</span></time>
						<div class="cbp_tmicon "></div>
						<div class="cbp_tmlabel">
							<h2>Brunch</h2>
							<p>Location : White Room</p>

							<p></p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2014-04-25T10:30"><span>4/25/14</span> <span>10:30</span></time>
						<div class="cbp_tmicon "></div>
						<div class="cbp_tmlabel">
							<h2>Challenge 3 : Procurement</h2>
							<p>Location : Black Room</p>

							<p>Andy Harris (<a href="http://www.smartprocure.us" target="_blank">www.smartprocure.us</a>), Alex Pandel(<a href="http://www.codeforamerica.org" target="_blank">www.codeforamerica.org</a>), Ben Berkowitz (<a href="http://www.seeclickfix.com" target="_blank">www.seeclickfix.com</a>), Sascha Haselmayer (<a href="http://www.citymart.com" target="_blank">www.citymart.com</a>)and Sergio Fernandez de Cordova (<a href="http://www.p3gm.com" target="_blank">www.p3gm.com</a>) will discuss how startups can navigate today’s city procurement process and what some cities are doing to make it easier for startups to participate.</p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2014-04-25T11:00"><span>4/25/14</span> <span>11:00</span></time>
						<div class="cbp_tmicon "></div>
						<div class="cbp_tmlabel">
							<h2>Break out session</h2>
							<p>Location : Black Room</p>

							<p>Participants will be broken out into teams to discuss successful cases and explore possible new models.</p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2014-04-25T12:30"><span>4/25/14</span> <span>12:30</span></time>
						<div class="cbp_tmicon "></div>
						<div class="cbp_tmlabel">
							<h2>Group Presentations</h2>
							<p>Location : Black Room</p>

							<p>Each team will share their learnings with the group.</p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2014-04-25T13:30"><span>4/25/14</span> <span>13:30</span></time>
						<div class="cbp_tmicon "></div>
						<div class="cbp_tmlabel">
							<h2>Fin</h2>
							<p>We will end the event with live music and a sadwich buffet.</p>
						</div>
					</li>
				</ul>

			</div>
