<script>
/* http://jsfiddle.net/livibetter/HV9HM/ */
function sticky_relocate() {
    var window_top = $(window).scrollTop();
    var div_top = $('#sticky-anchor').offset().top;
    if (window_top > div_top) {
    	console.log(1)
        $('#legend').addClass('stick');
        var bottomOfMenu = $('.navbar-fixed-top').height(); 
        $('.stick').css('top',(bottomOfMenu+1)+'px')
        
    } else {
    	console.log(2)
        $('#legend').removeClass('stick');
        $('#legend').css('top','auto');
    }
}

$(function () {
    $(window).scroll(sticky_relocate);
    sticky_relocate();
});
</script>

<br>
<br>
		<div class="row mt centered">
			<a></a><br>
			<div class="col-lg-12" >
				<form class="form-inline" role="form" ng-submit="myFunc()">
					<input class="form-control" type="text" placeholder="Search" ng-model="peopleQuery"/> 
					<span style=" position: absolute; top: 30%; left: 270px; " class="glyphicon glyphicon-remove" ng-click="clearQ()"></span>
					<input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>

					<!-- <button class="btn btn-link">Download CSV</button> -->
				</form>
			</div>
			<div class="col-lg-12 " >
			  <br>
			  <hr>
				<div id="sticky-anchor"></div>
				<div class="row">

			  	<div class='col-lg-12' id='legend'>

					<div class='panel panel-default'>
						<div class='panel-heading' ng-click="showLegend = !showLegend" >
							<small >Legend</small>
						</div>
						<div class='panel-body' ng-show="showLegend">  
							<div class='col-lg-2'>
								<img class="img-responsive" style="max-height: 36px; max-width:100%; margin: 0 auto;" src="/assets/img/Investor.png" /> Investor
							</div>
							<div class='col-lg-2'>
								<img class="img-responsive" style="max-height: 36px; max-width:100%; margin: 0 auto;" src="/assets/img/Founder.png" /> Founder
							</div>
							<div class='col-lg-2'>
								<img class="img-responsive" style="max-height: 36px; max-width:100%; margin: 0 auto;" src="/assets/img/Advisor.png" /> Advisor
							</div>
							<div class='col-lg-2'>
								<img class="img-responsive" style="max-height: 36px; max-width:100%; margin: 0 auto;" src="/assets/img/City.png" /> City / Citizen
							</div>			
							<div class='col-lg-2'>
								<img class="img-responsive" style="max-height: 36px; max-width:100%; margin: 0 auto;" src="/assets/img/Press.png" /> Press
							</div>	
							<div class='col-lg-2'>
								<img class="img-responsive" style="max-height: 36px; max-width:100%; margin: 0 auto;" src="/assets/img/UU.png" /> Urban.Us
							</div>																				
						</div>
					</div>
				</div>	
			</div>
			  <br>
		<div class="row">

			<div class='col-lg-12' >
			  <ul class="list-unstyled">
			  	<li ng-repeat="person in people | filter:peopleQuery | limitTo:currLimit">
			  		<div class="col-lg-2">
				  		<img class="img-responsive" ng-src="assets/img/{{person.Role || 'City'}}.png" alt="" style="max-height: 100px; max-width:100%; margin: 0 auto;" alt="Role">

			  		</div>
				  	<div class="col-lg-10" >
				  		<div class="col-lg-4 container" ng-show="person.Logo">
				  			<img class="img-responsive" ng-src="assets/img/{{person.Logo}}" alt="" style="max-height: 100px; max-width:100%; margin: 0 auto;">
				  		</div>
				  		<h2>{{person.Name}} <small>, <span ng-show="person.Title">{{person.Title}} </span><span ng-show="person.Title && person.Organization">at </span> <span ng-show="person.Organization">{{person.Organization}}<span><span ng-show="person.City">, {{person.City}}<span></small></h2>
				  		<span ng-show="person.Twitter"> <a ng-href="{{person.Twitter}}" target="_blank"><button class="btn btn-default btn-lg" >Twitter</button></a><br> </span>
				  		<span ng-show="person.LinkedIn_URL"> <a ng-href="{{person.LinkedIn_URL}}" target="_blank"><button class="btn btn-default btn-lg" >LinkedIn</button></a><br> </span>
				  		<br>
				  		<div class="row  centered">
				  			<div class="col-lg-1 col-lg-offset-5">
				  				<small>Group : #{{person.Group}}</small>
					  		</div>
					  		<div class="col-lg-1">
					  				<div style=" width: 20px; height: 20px; position: relative;  background-color: {{groups[person.Group][0]}}; left: 48%;"></div>
					  		
					  			<small><strong>{{groups[person.Group][1]}}</strong></small>
					  		</div>
					  	</div>
				  		
				  		<br>
				  		<hr>
				  		
			  		</div>

			  	</li>
			  </ul>
			</div>
		</div>

			</div>
		</div><!-- /row -->
		<span ng-click="scrollUp()" class="glyphicon glyphicon-arrow-up" style=" position: fixed; top: 90%; left: 90%; font-size: 2.2em; opacity: .5; " ng-show="scrollVis"></span>
		<div id="peopleViewBottom"></div>
