<div class="row mt centered">

	<div class='col-lg-12'>
		<div class='panel panel-default'>
			<div class='panel-heading'>
				<h3 class='panel-title'>Contacts</h3>
			</div>
			<div class='panel-body'>  
				<address>  <strong>Stonly Baptiste</strong><br>  <abbr title='Phone'>P:</abbr> (786) 393-0998<br>  <a href='mailto:stonly@urban.us'>stonly@urban.us</a></address>  
				<address>  <strong>Shaun Abrahamson</strong><br>  <abbr title='Phone'>P:</abbr> (646) 258-7957<br>  <a href='mailto:shaun@urban.us'>shaun@urban.us</a></address>  
				<address>  <strong>Nina Rodriguez</strong><br>  <abbr title='Phone'>P:</abbr> (561) 573-9824<br>  <a href='mailto:nadjalisse@cvoxgroup.com'>nadjalisse@cvoxgroup.com</a></address>
			</div>
		</div>
	</div>

</div>