<br>
<br>

		<div class="row mt centered">
				The Light Box<br>
				404 NW 26th St., Miami, FL 33127<br>
			<a href="https://www.google.com/maps/place/404+NW+26th+St/@25.8013204,-80.2025109,17z/data=!3m1!4b1!4m2!3m1!1s0x88d9b6b3a14c8069:0xa8559e3ed273a940" target="_blank">

				<button class="btn">Directions</button>
			</a><br><br>
			Network :  <strong>The Light Box</strong><br>
			PW :       <strong>Lightbox305</strong><br><br>
			<div class="col-lg-12" >
				<div id="weather"></div>
			</div>
		</div>
		<div class="row mt centered">

			<div class="col-lg-12" >

			  <img class="img-responsive" id="indoorMap" src="m/img/scs_indoor_map.jpg" style="height:475px;" />	

			</div>
		</div><!-- /row -->
